@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  outline: none;
}

.pop-in{
  animation: pop-in .2s ease-in;
}

/* etiquetas de estatus de taquilla*/

.OK, .Ok, .ACTIVA {
  background-color: yellowgreen;
  color: #fff;
  padding: 5px 20px;
}
.Remodelacion, .ENTREGAR {
  background-color: orange;
  color: #fff;
  padding: 5px 20px;
}

.Dañada, .INACTIVA {
  background-color: red;
  color: #fff;
  padding: 5px 20px;
}

.ACTUALIZAR{
  background-color: skyblue;
  color: #fff;
  padding: 5px 20px;
}

.ENTREGAR{
  background-color: orangered;
  color: #fff;
  padding: 5px 20px;
}


@keyframes pop-in {
 0% {
  scale: .5
 } 
 30%{
  scale: 1.1
 }
 50%{
  scale: 1
 }
}